<!DOCTYPE html>

<style type="text/css">
body{
 direction:rtl;
}
</style>

<html lang="fa-IR">
<body>
<div style="background-color:#78290F;
color:white;padding:20px;">
<h1>راهنمای انتخاب شغل</h1>
<p>مکان درمیان گذاشتن نظرات درباره ی مشاغل شرکت ها و تخصص های مختلف</p>
</div>
<div>
  <h4>اضافه کردن تخصص</h4>
  <p>لطفا تخصص مورد نظر خود را اضافه کرده و درصورت امکان در صفحات بعد جزيیات بیشتر را وارد کنید.</p>
  <form action="", method=POST> {% csrf_token %}
  <label for="newـfield">نام تخصص</label><br>
  <input type="text" id="new_field" name="new_field" ><br> 
  <button type="submit">اضافه کردن</button>
  </form>  
</div>


</body>
</html>
