<!DOCTYPE html>

<style type="text/css">
body{
 direction:rtl;
}
</style>

<html lang="fa-IR">
<body>
<div style="background-color:#15616D;
color:white;padding:20px;">
<h1>راهنمای انتخاب شغل</h1>
<p>مکان درمیان گذاشتن نظرات درباره ی مشاغل شرکت ها و تخصص های مختلف</p>
</div>
<div>  
  <form action="", method=POST> {% csrf_token %}
  <label for="rev">نظر و تجربه ی شخصی شما</label><br>
  <input type="textarea" size="150" rows="3" id="rev" name="rev" ><br>   
</div>
<p></p>
<div>
    <label for="field" class="form-label">این شغل مربوط به چه تخصصی است؟</label>
    <input class="form-control" list="field" name="field" id="field">
    <datalist id="field">
    {% for f in field %}
      <option value={{f.name}}>
    {% endfor %}
    </datalist>    
    <button type="submit">Submit</button>
  </form>
</div>
</body>
</html>
